<style>
  * {
    list-style: none;
    text-decoration: none;
  }

  body {
    color: #c9d1d9 !important;
  }
 
  .col {
    min-height: 100%;
  }
 
  #bg {
    background: url(https://sheldonjsmith.com/images/header-bg.jpg) no-repeat fixed center !important;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    filter: blur(8px);
 }
 
  #bg-overlay {
    background: rgba(33, 37, 41, 0.8) fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
 
  #main {
    position: absolute;
  }
</style>
</head>
