{%- include head.html -%}
{%- include blog-style.html -%}
<body>
    {%- include header.html -%}
    <section id="main-content">
        <div class="container-fluid">
            <div class="container" style="margin-top: 20px;">
                {% for post in site.posts %}
                    <div class="card" aria-hidden="true" style="width: 18rem; float: left; margin-right: 20px; margin-left: 20px;">
                        <img src="assets/images/{{ post.img }}" class="card-img-top" alt="{{ post.title }}">

                        <div class="card-body">
                            <h5 class="card-title" style="color: initial;">{{ post.title }}</h5>
                            <p class="card-text" style="color: initial;">
                                <span class="col-8" style="color: initial;">{{ post.excerpt }}</span>
                                <span class="col-8" style="color: initial;">Author - {{ post.author }}</span><br>
                                <span class="col-8" style="color: initial;">{{ post.date | date: "%d %b, %Y" }}</span>
                            </p>
                            <a href="{{ post.url }}" class="btn btn-primary">Go To Post</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
                
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
