{%- include head.html -%}
<body>
    {%- include header.html -%}
    <section id="main-content">
        <div class="container-fluid">
            <div class="container" style="margin-top: 20px;">
                {% for post in site.posts %}
                    <div class="card" aria-hidden="true" style="width: 18rem; float: left; margin-right: 20px; margin-left: 20px;">
                        <img src="assets/images/{{ post.img }}" class="card-img-top" alt="...">
                        
                        <div class="card-body">
                            <h5 class="card-title" style="color: initial;">{{ post.title }}</h5>
                            <p class="card-text placeholder-glow" style="color: initial;">
                                <span class="placeholder col-7"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-6"></span>
                                <span class="placeholder col-8"></span>
                            </p>
                            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                        </div>
                    </div>
                        <!--<div class="blog-header">{{ post.title }}</div>
                        <div class="blog-body">{{ post.excerpt }}</div>
                        <div class="blog-footer">Created by {{ post.author }} | {{ post.date | date: "%d %b, %Y" }}</div>
                    </div>-->
                {% endfor %}
            </div>
        </div>
    </section>
                
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
